.wellcom_title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffe4c4;
}

.wellcome_text{
    font-size: 1.2rem;
    color: rgba(255, 228, 196, 0.7);
}
@media (max-width: 600px) {
    .wellcom_title {
        font-size: 2rem;
    }
    .wellcome_text{
        font-size: 0.9rem;
    }
}